<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293928227982-g996so46b50orhcij9a9rtmfqfd8uk75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293928227982-g996so46b50orhcij9a9rtmfqfd8uk75</string>
	<key>API_KEY</key>
	<string>AIzaSyDcyh7Yi3Z50HJS26WRlBvOhJZ2WgbxVRg</string>
	<key>GCM_SENDER_ID</key>
	<string>293928227982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chart.CandleSticks-Chart</string>
	<key>PROJECT_ID</key>
	<string>candlestick-e3cb3</string>
	<key>STORAGE_BUCKET</key>
	<string>candlestick-e3cb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293928227982:ios:8357a3aed79c61817e65df</string>
</dict>
</plist>